<div class="main">
    <button nz-button nzType="dashed" style="width: 100%; " (click)="addClass()"><i class="anticon anticon-plus"></i>添加类别</button>

    <nz-table #basicTable [nzData]="listOfData" [nzShowPagination]="false">
        <thead>
            <tr>
              <th>名称</th>
              <th>操作</th>
            </tr>
          </thead>
          <tbody>
              <tr *ngFor="let data of listOfData">
                  <td style="width:450px;">
                      <ng-container *ngIf="!data.edit; else nameInputTpl">
                          {{ data.fromName }}
                        </ng-container>
                        <ng-template #nameInputTpl>
                          <input type="text" nz-input [(ngModel)]="data.fromName" />
                        </ng-template>
                  </td>
                  <td>
                      <ng-container *ngIf="!data.edit; else saveTpl">
                          <a (click)="data.edit = true;">编辑</a>
                          <nz-divider nzType="vertical"></nz-divider>
                          <a nz-popconfirm nzTitle="确认删除此类别吗?" (nzOnConfirm)="delete(data.cardTypeId)">删除</a>
                        </ng-container>
                        <ng-template #saveTpl>
                          <a (click)="saveEdit(data)">保存</a>
                          <nz-divider nzType="vertical"></nz-divider>
                          <a (click)="data.edit = false;">取消</a>
                        </ng-template>
          
          
                  </td>
              </tr>
          </tbody>
    </nz-table>
</div>

<div class="drawer-footer">
  <button nz-button nzType="primary" (click)="save()">确定</button>
</div>